## Pass Task 2.1: Basic scripting with python
### Section 1

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

KeyboardInterrupt:

In [78]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = pd.read_csv(url)
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [79]:
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

In [80]:
iris[iris.isna().any(axis=1)]

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, class]
Index: []

In [81]:
iris.loc[10:29, 'petal_length'] = np.nan
iris[iris.isna().any(axis=1)]

    sepal_length  sepal_width  petal_length  petal_width        class
10           4.8          3.4           NaN          0.2  Iris-setosa
11           4.8          3.0           NaN          0.1  Iris-setosa
12           4.3          3.0           NaN          0.1  Iris-setosa
13           5.8          4.0           NaN          0.2  Iris-setosa
14           5.7          4.4           NaN          0.4  Iris-setosa
15           5.4          3.9           NaN          0.4  Iris-setosa
16           5.1          3.5           NaN          0.3  Iris-setosa
17           5.7          3.8           NaN          0.3  Iris-setosa
18           5.1          3.8           NaN          0.3  Iris-setosa
19           5.4          3.4           NaN          0.2  Iris-setosa
20           5.1          3.7           NaN          0.4  Iris-setosa
21           4.6          3.6           NaN          0.2  Iris-setosa
22           5.1          3.3           NaN          0.5  Iris-setosa
23           4.8          3.4           NaN          0.2  Iris-setosa
24           5.0          3.0           NaN          0.2  Iris-setosa
25           5.0          3.4           NaN          0.4  Iris-setosa
26           5.2          3.5           NaN          0.2  Iris-setosa
27           5.2          3.4           NaN          0.2  Iris-setosa
28           4.7          3.2           NaN          0.2  Iris-setosa
29           4.8          3.1           NaN          0.2  Iris-setosa

In [82]:
iris["petal_length"].fillna(value=10.0, inplace=True)
iris[iris.isna().any(axis=1)]

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, class]
Index: []

In [83]:
iris.loc[iris [9:31].index,]

    sepal_length  sepal_width  petal_length  petal_width        class
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4          10.0          0.2  Iris-setosa
11           4.8          3.0          10.0          0.1  Iris-setosa
12           4.3          3.0          10.0          0.1  Iris-setosa
13           5.8          4.0          10.0          0.2  Iris-setosa
14           5.7          4.4          10.0          0.4  Iris-setosa
15           5.4          3.9          10.0          0.4  Iris-setosa
16           5.1          3.5          10.0          0.3  Iris-setosa
17           5.7          3.8          10.0          0.3  Iris-setosa
18           5.1          3.8          10.0          0.3  Iris-setosa
19           5.4          3.4          10.0          0.2  Iris-setosa
20           5.1          3.7          10.0          0.4  Iris-setosa
21           4.6          3.6          10.0          0.2  Iris-setosa
22           5.1          3.3          10.0          0.5  Iris-setosa
23           4.8          3.4          10.0          0.2  Iris-setosa
24           5.0          3.0          10.0          0.2  Iris-setosa
25           5.0          3.4          10.0          0.4  Iris-setosa
26           5.2          3.5          10.0          0.2  Iris-setosa
27           5.2          3.4          10.0          0.2  Iris-setosa
28           4.7          3.2          10.0          0.2  Iris-setosa
29           4.8          3.1          10.0          0.2  Iris-setosa
30           5.4          3.4           1.5          0.4  Iris-setosa

### Section 2

In [1]:
# This is a made up senario to demonstrate common Pandas DataFrame Manipulations, and matlplotlib visualisations.
# Our dataset is RSSI and SNR readings on a Wireless Network taken every 5 seconds for 10 minutes.

time_index = pd.date_range(start='2025-11-20 12:21:00', periods=120, freq='5s')
data = {
    'RSSI': np.random.randint(-100, -76, size=120),
    'SNR': np.random.randint(0, 40, size=120)
}   
wireless_survey = pd.DataFrame(data, index=time_index)

time_index = time_index.tz_localize('Australia/Brisbane')

one_min_avg = (
    wireless_survey
        .groupby(wireless_survey.index.floor('1min'))
        .mean()
        .round(2)
)
print(one_min_avg)

wireless_survey.plot()
plt.gca().invert_yaxis()
plt.title('Wireless Network Survey - RSSI and SNR over Time')

NameError: name 'pd' is not defined

In [56]:
one_min_avg = (
    wireless_survey
        .groupby(wireless_survey.index.floor('1min'))
        .mean()
        .round(2)
)
one_min_avg

                      RSSI    SNR
2025-11-20 12:21:00 -90.67  25.67
2025-11-20 12:22:00 -85.58  23.42
2025-11-20 12:23:00 -88.00  18.42
2025-11-20 12:24:00 -85.75  25.58
2025-11-20 12:25:00 -87.42  21.17
2025-11-20 12:26:00 -91.92  18.00
2025-11-20 12:27:00 -85.25  24.08
2025-11-20 12:28:00 -85.25  18.50
2025-11-20 12:29:00 -87.42  15.42
2025-11-20 12:30:00 -88.08  20.42

In [76]:
wireless_survey[wireless_survey['RSSI'] < -95][['RSSI']].head()

                     RSSI
2025-11-20 12:21:10   -96
2025-11-20 12:21:55   -97
2025-11-20 12:22:00   -98
2025-11-20 12:22:05   -97
2025-11-20 12:22:30   -99